<p class="h3 p-3">{{espectaculoDetail.nombre}}<p> 
        <div class="row">
            <div class="col-md-3">
                <div class="thumb">
                    <img class="img-fluid" src='{{espectaculoDetail.imagen}}' alt="{{espectaculoDetail.imagen}}" />   
                </div>
            </div>
            <div class="col-md-3">
                <dl>     
                    <dt>Fecha</dt>
                    <dd>{{espectaculoDetail.fecha| date:'MM/dd/yyyy'}}</dd>
                    <dt>Artista</dt>
                    <dd>{{espectaculoDetail.artista}}</dd>
                    <dt>Detalles </dt>
                    <dd>{{espectaculoDetail.descripcion}}</dd>
                </dl>
            </div>
            
            <div class="row border margin">
                <p class="h3 p-3">Comentarios de este espectaculo</p>
                <app-comentario-list [comentarios] = "espectaculoDetail.comentarios"></app-comentario-list>
            </div>   
             <div class="row border margin">
        <p class="h3 p-3">Otros espectaculos que te pueden interesar</p>
        <app-espectaculo-list [espectaculos]="otrosEspectaculos"></app-espectaculo-list>
    </div>
            
      