<div class="panel-body">
    <div class="border margin">
        <div class="card text-center">
            <div class="card-header">
                <p class="h3 p-3">{{espectaculoDetail.nombre}}<p>
            </div>
        <div class="card body">
            <br>
                <div class="thumb">
                    <img class="img-fluid" src='{{espectaculoDetail.imagen}}' alt="{{espectaculoDetail.imagen}}" />   
            </div>
            <br>
                <dl>     
                    <dt><p class ="h2">Fecha</p></dt>
                    <dd>{{espectaculoDetail.fecha| date:'MM/dd/yyyy'}}</dd>
                    <dt><p class ="h2">Artista</p></dt>
                    <dd>{{espectaculoDetail.artista}}</dd>
                    <dt><p class ="h2">Descripcion </p></dt>
                    <dd><h2>{{espectaculoDetail.descripcion}}</h2></dd>
                </dl>
          
        </div>
            <br>
            <p class="h3 p-3">Comentarios de este espectaculo</p>
            <div class="row border margin  justify-content-center align-self-center">
                <br>
                <app-comentario-list [comentarios] = "this.espectaculoDetail.comentarios"></app-comentario-list>
            </div>   
            <p class="h3 p-3">Otros espectaculos que te pueden interesar</p>
            <div class="row border margin">
            
                <app-espectaculo-list [espectaculos]="otrosEspectaculos"></app-espectaculo-list>
            </div>
        
    </div>
    </div>
</div>
      