<p class="h3 p-3">{{espectaculoDetail.name}}<p> 
        <div class="row">
            <div class="col-md-3">
                <div class="thumb">
                    <img class="img-fluid" src='{{espectaculoDetail.imagen}}' alt="{{espectaculoDetail.imagen}}" />   
                </div>
            </div>
            <div class="col-md-3">
                <dl>     
                    <dt>Fecha</dt>
                    <dd>{{espectaculoDetail.fecha| date:'MM/dd/yyyy'}}</dd>
                    <dt>Artista</dt>
                    <dd>{{espectaculoDetail.artista}}</dd>
                    <dt>Detalles :)</dt>
                    <dd>{{espectaculoDetail.descripcion}}</dd>
                </dl>
            </div>   
            <div class="col-md-5">
                 <table class="table table-striped">
                     <thead class="thead-dark">
                         <tr>
                         <th>Id</th> 
                        <th>precio</th> 
                        <th>fecha</th> 
                        <th>vendida</th> 
                        </tr>
                    </thead>
            <tbody>
                <tr *ngFor = "let b of espectaculoDetail.boletas">
                    <td>{{b.id}}</td>
                    <td>{{b.precio}}</td>
                    <td>{{b.fecha}}</td>
                    <td>{{b.vendida}}</td>
                </tr>
            </tbody>
        </table>
            </div>
        </div>