<div class="panel-body">
    <div class="border margin">
        <p class="h3 p-3">{{clienteDetail.name}}<p> 
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col">
                <dl>     
                    <dt>Id</dt>
                    <dd>{{clienteDetail.id}}</dd>
                    <dt>Usuario</dt>
                    <dd>{{clienteDetail.usuario}}</dd>
                    <dt>Forma de pago</dt>
                    <dd>{{clienteDetail.pago}}</dd>
                </dl>
            </div>

        </div>
    </div>