<div class="panel-body">
    <div class="border margin">
        <p class="h3 p-3">{{clienteDetail.id}}<p> 
        <div class="row">
            <div class="col-md-3">
                <dl>
                    <dt>Nombre</dt>
                    <dd>{{clienteDetail.nombre}}</dd>
                    <dt>Usuario</dt>
                    <dd>{{clienteDetail.usuario}}</dd>
                    <dt>Cedula</dt>
                    <dd>{{clienteDetail.cedula}}</dd>
                    <dt>Pago</dt>
                    <dd>{{clienteDetail.pago}}</dd>
                </dl>
            </div>