<div class="container-fluid">
    <div class="container-responsive">
        <div class="row">
        <div class="col">
        <div class="row justify-content-center align-self-center">
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Crear un comentario</button>
        </div>
        <div class ="card">
            <div class="card-body">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Cliente</th>   
                        <th>Comentario</th>
                        <th>Espectaculo</th>
                        
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of comentarios" (click)="onSelected(c.id)"> 
                        <td style="cursor: pointer;">
                        <dd >{{c.cliente.nombre}}</dd>
                        </td>
                        <td style="cursor: pointer;">
                        <dd>{{c.mensaje}}</dd>
                       </td>
                       <td style="cursor: pointer;">
                        <dd>{{c.espectaculo.nombre}}</dd>
                       </td>
                        

                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        
         </div>
            <div class="col-8">
            <div *ngIf="selectedComentario">
                <app-comentario-detail [comentarioDetail]="selectedComentario"></app-comentario-detail>
            </div> 
            <div *ngIf="showCreate">
                <app-comentario-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-comentario-create>
            </div>
        </div>
    </div>
</div>