<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center">Editar el lugar</h2>
        <br>
        <form name="lugar" (ngSubmit) = "f.form.valid && createLugar()" #f="ngForm" novalidate> 
            <div class="form-group">
                <label for="nombreLugar"><b>Nombre</b></label>
                <input type="text" name="nombreLugar" class="form-control" id="nombreLugar" [(ngModel)]="lugarDetail.nombre"
                    #nombreLugar="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nombreLugar.invalid }" required>
                <div class="invalid-feedback">
                    <div>Falta el nombre</div>
                </div>
            </div>
            <div class="form-group">
                <label for="numSillasLugar"><b>Número de Sillas</b></label>
                <input type="text" name="numSillasLugar" class="form-control" id="numSillasLugar" [(ngModel)]="lugarDetail.numSillas"
                    #numSillasLugar="ngModel" [ngClass]="{ 'is-invalid': f.submitted && numSillasLugar.invalid }" required>
                <div class="invalid-feedback">
                    <div>Falta el numero de sillas</div>
                </div>
            </div>
            <div class="form-group">
                <label for="direccionLugar"><b>Dirección</b></label>
                <input type="text" name="direccionLugar" class="form-control" id="direccionLugar" [(ngModel)]="lugarDetail.direccion"
                    #direccionLugar="ngModel" [ngClass]="{ 'is-invalid': f.submitted && direccionLugar.invalid }" required>
                <div class="invalid-feedback">
                    <div>Falta el numero de sillas</div>
                </div>
            </div>
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary" [routerLink] = "['/lugar/list']" >Editar</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelarEdicion()" [routerLink]="['/lugar/list']" style="color: #fff;">Cancelar</button>
            </div>
              
        </form>
    </div>
</div>
