<div class="container-fluid">
    <div class="row">
        <div class="card text-center" id="Crear">
            <div class="card header">
            <br>
                <h2 class="text-center">Crea tu espectáculo</h2>
            <br>
            </div>
        <div class="card body">
        <form name="espectaculo" (ngSubmit)="f.form.valid && createEspectaculo()" #f="ngForm" novalidate>
            <div class="form-group">
            <label form ="espectaculoNombre"><b>Nombre del Espectaculo</b></label>
            <input type="text" id="espectaculoNombre" name ="espectaculoNombre" class="form-control"  [(ngModel)]="espectaculo.nombre"
                #espectaculoNombre ="ngModel" [ngClass]="{'is-invalid':f.submitted && espectaculoNombre.invalid}" required placeholder="Ej: EspectaculoDesarrollo">
                <div class="invalid-feedback">
                    <div>Falta el nombre del espectaculo</div>
                </div>    
            </div>
          <div class="form-group">
              <label for="espectaculoFecha"><b>Fecha del Espectaculo</b></label>
              <div [ngClass]="{ 'is-invalid': f.submitted && espectaculoFecha.invalid }">
                    <input class="form-control" id="espectaculoFecha" name="espectaculoFecha" [(ngModel)]="espectaculo.fecha"
                        ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" #espectaculoFecha="ngModel" [ngClass]="{'is-invalid': f.submitted && (espectaculoFecha.untouched || espectaculoFecha.invalid) }"
                        required>
                    <div class="invalid-feedback">
                        <div>Falta por diligenciar la fecha</div>
                    </div>
              </div>
        </div>
        <div class="form-group">
            <label for ="espectaculoArtista"><b>Artista</b></label>
            <input type="text" name="espectaculoArtista" class="form-control" id="espectaculoArtista" [(ngModel)]="espectaculo.artista"
                #espectaculoArtista="ngModel" [ngClass]="{'is-invalid':f.submitted && espectaculoArtista.invalid}" required placeholder="Ej: Nickelback">
            <div class="invalid-feedback">
                <div>Falta un artista para el espectaculo</div>
            </div>
        </div>
        <div class="form-group">
            <label for ="espectaculoDescripcion"><b>Descripcion</b></label>
            <input type="text" name="espectaculoDescripcion" class="form-control" id="espectaculoDescripcion" [(ngModel)]="espectaculo.descripcion"
                #espectaculoDescripcion="ngModel" [ngClass]="{'is-invalid':f.submitted && espectaculoDescripcion.invalid}" required >
            <div class="invalid-feedback">
                <div>Falta una descripcion para el espectaculo</div>
            </div>
        </div>
        <div class="form-group">
            <label for ="espectaculoImagen"><b>URL de la imagen</b></label>
            <input type="text" name="espectaculoImagen" class="form-control" id="espectaculoImagen" [(ngModel)]="espectaculo.imagen"
                #espectaculoImagen="ngModel" [ngClass]="{'is-invalid':f.submitted && espectaculoImagen.invalid}" required>
            <div class="invalid-feedback">
                <div>Falta la imagen del espectaculo</div>
            </div>
        </div>
        <div class="form-group">
            <label for ="espectaculoTipo"><b>Tipo de Espectaculo : </b></label>
            <select id="espectaculoTipo" [(ngModel)] = "espectaculo.tipo" name="espectaculoTipo"
                    #espectaculoTipo ="ngModel" [ngClass]="{'is-invalid':f.submitted && espectaculoTipo.invalid}" required>
                    <option value="Concierto">Concierto</option>
                <option value="Circo">Circo</option>
                <option value="Teatro">Teatro</option>
                <option value="Deporte">Deporte</option>
            </select>
            <div class="invalid-feedback">
                <div>Falta la imagen del espectaculo</div>
            </div>
        </div>
           <div class="form-group"  >
            <label for ="lugar"><b>Lugar del espectaculo</b></label>
            <select class ="form-control" id="lugar" [(ngModel)] = "lugar_id" name="lugar" 
                  #lugar ="ngModel" [ngClass]="{'is-invalid':f.submitted && espectaculo.invalid}" required>
                <option *ngFor = "let es of lugares" value='{{es.id}}'>{{es.nombre}}</option>
            </select>
                <div class="invalid-feedback">
                    <div>Falta el lugar del espectaculo</div>
                </div>
            </div>
        <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Crear</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancelar</button>
            </div>
        </form> 
        </div>
    </div>
    
    </div>
</div>
