<div class="panel-body">
    <div class="border-margin">
        <p class="p3 p-3">{{lugarDetail.nombre}}</p>
        <div class="row">
            <div class="col-md-12">
                <dl>
                    <dt>Dirección</dt>
                    <dd>{{lugarDetail.direccion}}</dd>
                    <dt>Número de Sillas</dt>
                    <dd>{{lugarDetail.numhSillas}}</dd>
                    <dt>Tipo</dt>
                    <dd>{{lugarDetail.ubicacion}}</dd>
                </dl>
            </div>
        </div>
    </div>
    <p>Sillas del Lugar</p>
    
</div>
