

            <div class="col-md-10">
                <div class="card text-center">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <p class="h3 p-3">{{organizadorDetail.usuario}}<p>
                                        <div class="row justify-content-center align-self-center" *ngxPermissionsOnly="['ORGZ']">
                                                <button class="btn btn-primary text-center" routerLink="/organizadores/{{organizadorDetail.id}}/edit">Editar<span class="fa fa-pencil"></span></button>
                                                <div class="divider"></div>
                                                <button class="btn btn-danger text-center" (click)="deleteOrganizador()"><span class="fa fa-trash"></span></button>
                                        </div>     
                            </div>
                                
                        </div> 
                    </div>
                <div class="card-body">
                    <dl>     
                    <dt>Nombre</dt>
                    <dd>{{organizadorDetail.nombre}}</dd>
                    <dt>Presupuesto</dt>
                    <dd>{{organizadorDetail.presupuesto | currency}}</dd>
                    <dt>Ganancia </dt>
                    <dd>{{organizadorDetail.ganancia | currency}}</dd>
                    </dl>
                </div>
                
            </div>
      </div>

<div class="row">
         <p class="h3 p-3">Espectaculos de este organizador: </p>
         <br>
        <app-espectaculo-list [espectaculos]="organizadorDetail.espectaculos"></app-espectaculo-list>
    </div>
