<div class="container-fluid">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead class="thead-dark">
                        <th class="h4">Nombre del organizador</th>   
                </thead>
                <tbody>
                <tbody>     
                    <tr *ngFor  ="let organizador of organizadores"
                              (click)="onSelected(organizador.id)">
                        <td style="cursor: pointer;"> 
                <dd>{{organizador.nombre}}</dd>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
        </div>