<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">
    <div class="col-md-2">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th> 
                    <th>precio</th> 
                    <th>fecha</th> 
                    <th>vendida</th> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let b of boletas">
                    <td style="cursor: pointer;">{{b.id}}</td>
                    <td style="cursor: pointer;">{{b.precio}}</td>
                    <td style="cursor: pointer;">{{b.fecha}}</td>
                    <td style="cursor: pointer;">{{b.vendida}}</td>
                  
                </tr>
            </tbody>
        </table>
    </div>

