<div class="container">
	<div class="row">
		
        
        <div class="col-md-12">
        <h4>Boletas</h4>
        <div class="table-responsive">

                
              <table id="mytable" class="table table-bordred table-striped">
                   
                   <thead>
                   
                   
                    <th>Espectaculo</th>
                    <th>Precio Boleta</th>
                     <th>Fecha de espectaculo</th>
                     
                      <th>Editar</th>
                       <th>Eliminar</th>
                   </thead>
    <tbody>
    
    <tr *ngFor  ="let b of boletas"
                              (click)="onSelected(b.id)">
    
    <td>{{b.espectaculo.nombre}}</td>
    <td>${{b.precio}}.00</td>
    <td>{{b.espectaculo.fecha}}</td>
    <td><p data-placement="top" data-toggle="tooltip" title="Edit"><a class="fa fa-pencil" ></a></p></td>
    <td><p data-placement="top" data-toggle="tooltip" title="Delete"><a class="fa fa-remove"></a></p></td>
    </tr>
    
   
    
    </tbody>
        
</table>    
            </div>
            
        </div>
        <div class="col-md-8">
            <div *ngIf="showCreate">
                <app-boleta-create (cancel)="showHideCreate()" (create)="ngOnInit()" *ngIf="showCreate"></app-boleta-create>
            </div>
            <div *ngIf="showEdit">
                <app-boleta-edit [boleta_id]="boleta_edit_id" (cancel)="showHideEdit(boleta_edit_id)" (update)="updateBoleta()"></app-boleta-edit>
            </div>
        </div>
	</div>
</div>


