<div class="panel-body">
    <div class="border margin">
        <p class="h3 p-3">{{devolucion.id}}<p> 
        <div class="row">
            <div class="col-md-3">
                <dl>
                    <dt>Compra</dt>
                    <dd>{{devolucion.compra.id}}</dd>
                </dl>
            </div>
            <div class="col">
                <dl>     
                    <dt>Boletas</dt>
                    
                        <dd >{{devolucion.boletas}}</dd>
                   
                </dl>
            </div>

        </div>
    </div>
</div>