h3{color: red}

#cont{
    background-color: #A9A9A9;
}


#card{
    height: 45vh;
    width: 16vw;
    margin: 1em;
    border-radius: 1em;
}

#title{
    font-size: 2em;
}

#spec_image{
    height: 22vh;
    width: 100vw;
    border-radius: 1em;

}

#caption_card{
    font-size: 1.2em;
    font-weight: bold;
}

#date_card{
    font-size: 1.2em;
    text-align: center;
}
