<div class="panel-body">
    <div class="border margin">
        <p class="h3 p-3">{{comentarioDetail.id}}<p> 
        <div class="row">
            <div class="col-md-3">
                <dl>
                    <dt>Mensaje</dt>
                    <dd>{{comentarioDetail.mensaje}}</dd>   
                </dl>
            </div>
            <div class="col-md-3">
                <dl>     
                    <dt>Espectaculo</dt>
                    <dd>{{comentarioDetail.espectaculo.id}}</dd>
                    
                    <dt>Cliente</dt>
                    <dd>{{comentarioDetail.cliente.id}}</dd>
                </dl>
            </div>

        </div>
    </div>
