<p>
  lugar-list works!
</p>
<div class ="container-fluid">
    <div class="container-responsive">
        <div class="card">
            <div class="card-body">
                <h3>Lugares Actuales</h3>
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nombre</th>
                            <th>Dirección</th>
                            <th>Tipo</th>
                            <th>Número Sillas</th>
                        </tr>
                        
                    </thead>
                    <tbody>
                        <tr *ngFor = "let es of lugares">
                            <td>{{es.nombre}}</td>
                            <td>{{es.direccion}}</td>
                            <td>{{es.ubicacion}}</td>
                            <td>{{es.numsillas}}</td>
                        </tr>
                    </tbody>
                    
                </table>
                
            </div>
        </div>
        
    </div>
    
</div>
