<div class="container-fluid">
    <div class="container-responsive">
        <div class="row">
        <div class="col">
        
        <div class ="card">
            <div class="card-body">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>   
                        <th>Costo</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let com of compras" (click)="onSelected(com.id)"> 
                        <td style="cursor: pointer;">
                        <dd >{{com.id}}</dd>
                        </td>
                        <td style="cursor: pointer;">
                        <dd>{{com.costoTotal}}</dd>
                       </td>
                        <td style="cursor: pointer;">
                        <dd >{{com.fecha| date:'MM/dd/yyyy'}}</dd>
                        </td>

                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        
         </div>
            <div class="col-8">
            <div *ngIf="selectedCompra">
                <app-compra-detail [compraDetail]="selectedCompra"></app-compra-detail>
            </div>
            </div>   
        </div>
    </div>
</div>