<div class="container-fluid">
    <div class="container-responsive">
        <div class="row">
        <div class="col-md-12">
        <div class="row justify-content-center align-self-center">
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Crear Compra</button>
            </div>
        <div class ="card">
            <div class="card-body">
            <table id="mytable" class="table table-bordred table-striped">
                   
                   <thead>
                   
                   
                    <th>Id</th>
                    <th>Costo total</th>
                     <th>Fecha</th>
                     
                      <th>Editar</th>
                       <th>Eliminar</th>
                   </thead>
    <tbody>
    
    <tr *ngFor  ="let c of compras"
                              (click)="onSelected(c.id)">
    <td style="cursor: pointer;">
    <dd>{{c.id}}</dd>
    </td>
    <td style="cursor: pointer;">
    <dd>${{c.costoTotal}}.00</dd>
    </td>
    <td style="cursor: pointer;">
    <dd>{{c.fecha}}</dd>
    </td>
    <td><p data-placement="top" data-toggle="tooltip" title="Edit"><a class="fa fa-pencil" ></a></p></td>
    <td><p data-placement="top" data-toggle="tooltip" title="Delete"><a class="fa fa-remove"></a></p></td>
    </tr>
    
   
    
    </tbody>
        
</table>    
            </div>
        </div>
        
         </div>
            <div class="col-8">
            <div *ngIf="selectedCompra">
                <app-compra-detail [compraDetail]="selectedCompra"></app-compra-detail>
            </div>
            <div *ngIf="showCreate">
                <app-compra-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-compra-create>
            </div>  
        </div>
    </div>
</div>