<div class="container-fluid">
    <div class="container-responsive">
       
        <div class ="card">
            <div class="card-body">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>   
                        <th>Costo</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let com of compras">
                        <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/compras/{{com.id}}">{{com.id}}</dd>
                        </td>
                        <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/compras/{{com.id}}">{{com.costoTotal}}</dd>
                       </td>
                        <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/compras/{{com.id}}">{{com.fecha}}</dd>
                        </td>
                        <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/compras/{{com.id}}">{{com.estado}}</dd>
                        </td>

                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        
    </div>    
</div>