<ngb-carousel >
      <ng-template ngbSlide>
    <img src="https://i.ebayimg.com/images/g/2DcAAOSwwNtbe0zU/s-l600.jpg"  alt="Random first slide" style="width:1500px;height:400px;">
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div> 
</ng-template>
  <ng-template ngbSlide *ngFor="let es of espectaculos">
      <img src="{{es.imagen}}" alt="Random second slide" routerLink = "/espectaculos/{{es.id}}" style="cursor: pointer; width:1500px;height:400px;"  >
    <div class="carousel-caption">
      <h3>{{es.nombre}}</h3>
      <p>Comprar boletas</p>
    </div>
  </ng-template>
    </ngb-carousel>
<br>